@{
    Layout = "_Layout";
}

<div class="search-faild-message">
    По вашему запросу ничего не найдено!
</div>

<style>
    .search-faild-message {
        color: black;
        margin: 2rem 0;
        text-align: center;
        font-size: 1.3rem;
    }
</style>