@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<form method="post">
    <div class="review-form">
        <label>Отзыв</label>
        <textarea maxlength="500" name="Comment"></textarea>
        <input type="submit" value="Оправить"/> 
    </div>
</form>

